*{
    font-family: 'Lobster', sans-serif;
    font-size: 16px;
    color: #222;
}
html, body{
    margin: 0;
    height: 100vh;
    text-align: center;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    background-image: url(./img/hero.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-size: cover;
}
.heading {
    color: #ffffff;
    display: block;
    font-family: 'Lobster';
    font-size: 4em;
    font-weight: normal;
    text-shadow: 0 0 10px #000;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}
.heading-subtext{
    color: #fff;
    display: block;
    font-family: 'Lobster';
    font-size: .6em;
    margin-bottom: 1em;
}
.fixed-button{
    background: rgba(20,20,20,.5);
    border-radius: 1em;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}
.fixed-button::after{
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}
.fixed-button:active,
.fixed-button:hover{
    background: rgba(20,20,20,.9);
}
.section{
    margin: 0 auto;
    max-width: 600px;
    padding: 1em 2.4em;
}
.sub-heading{
    font-family: 'Lobster';
    font-size: 3em;
    margin-top: 2em;
}
.details{
    margin: 0 auto 8em;
}
.details-heading{
    font-weight: bold;
    text-transform: uppercase;
}
.fas {
    font-size: 3em;
    opacity: .8;
}
.resort-image{
    width: 100%
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 4em;
    }
  }

  .rsvp-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Efecto de transición */
}

.rsvp-button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}